@import "../../node_modules/bootstrap/less/bootstrap";
@import "less/font-awesome";
@import "color";

input, button, select, textarea {
  outline: none
}

body {
  padding-top: 65px;
}

.navbar-kong {
  border-color: transparent;
  background-color: #fff;
  .logo {
    font-size: 34px;
    color: @color;
    margin-left: 15px;
  }
  .navbar-header {
    .navbar-toggle {
      border: 0;
    }
    .navbar-toggle:hover,
    .navbar-toggle:focus {
      background-color: transparent;
    }
    .icon-bar {
      background-color: @color !important;
    }
  }
  li {
    text-align: center;
  }

  .transition-duration(.5s);
  &.active {
    box-shadow: 0 0 15px #dedede;
  }
}

.container-home {
  .form-group {
    position: relative;
  }
  .search-i {
    position: absolute;
    right: 3px;
    top: 16px;
    font-size: 16px;
    color: #777;
  }
  .search {
    width: 100%;
    border: 0;
    border-bottom: 2px solid #ddd;
    font-size: 12px;
    height: 50px;
    line-height: 50px;
    color: #777;
    .transition-duration(.5s);
    border-radius: 0;
    &:focus {
      border-color: @color;
    }
  }
  .btn {
    margin: 15px 0;
    width: 100%;
    color: #fff;
    background-color: @color;
    border-radius: 0;
    box-shadow: 0 3px 0 @color-hover;
    .transition-duration(.5s);
    &:hover, &:focus {
      background-color: @color-hover;
    }
  }
}

.container-fluid {
  padding: 0;
}

.listData {
  .tit {
    overflow: hidden;
    padding-top: 10px;
    padding-bottom: 10px;
    &.active {
      color: @color;
    }
  }
  .link-btn {
    float: left;
    .img-main {
      height: 194px;
      border: 1px solid #ddd;
      text-align: center;
      padding: 1px;
      img {
        max-height: 190px;
        max-width: 100%;
      }
    }
    .money {
      padding-bottom: 5px;
      font-size: 15px;
      color: #ff4d48;
      font-weight: bold;
    }
    .title {
      font-size: 12px;
      color: #000;
      max-height: 34px;
      line-height: 17px;
      overflow: hidden;
      margin: 5px 0 0;
      font-family: liDebiao;
    }
    .info {
      height: 60px;
    }
  }

  a:hover, a:focus {
    text-decoration: none;
  }
}

.navbar-header {
  position: relative;
}

.span-logo {
  font-size: 25px;
  margin-top: -10px;
  font-family: 'YuLong9a09c71e0182be';
  position: absolute;
  line-height: 67px;
  height: 50px;
  display: inline-block;
  width: 200px;
  left: 55px;
  top: 0;
  color: #1b6d85;
}
