<template>

    <div class="container container-home">
1
    </div>

</template>

<script>
    export default {
        data () {
            return {

            }
        },
        mounted(){
        }
    }
</script>

