<template>
    <div class="container">
        <h1>info.vue</h1>
    </div>
</template>

<script>
    export default {
        data () {
            return {
                data:"info"
            }
        },
        mounted(){

        }
    }
</script>